@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h4><strong>Professor:</strong> Manfrine</h4>
<p>Trabalho de análise e projeto de sistemas.</p>
<p>@ViewData["Email"]</p>
<address>
    <strong>Mais informação: <a href="#">fulano.com.br</a></strong>
</address>
  