@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Equipe:</strong> <br> 
    Luiz Felipe<br />
    Amarildo Marinho<br />
    Aldemir Carvalho<br />
    Adriel Vínicius<br />
    Marcio<br />
    Francisco Marcelo<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
